In [4]:
import mysql.connector

In [5]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'praiseugochukwu',
)
mycursor = mydb.cursor()

In [7]:
mycursor.execute('create database danfofoodstore')
mycursor.execute('show databases')
for x in mycursor:
    print(x)

DatabaseError: 1007 (HY000): Can't create database 'danfofoodstore'; database exists

In [8]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'praiseugochukwu',
    database = 'danfofoodstore'
)
mycursor = mydb.cursor()

In [9]:
mycursor.execute('create table customer (ID int not null primary key, NAME text not null, Gender text not null,\
ADDRESS text not null, PHONENUMBER text not null, DOB text not null, EMAIL text not null)')
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('customer',)

In [11]:
class foodstore:
    def accept(self):
        ID = input ('customer ID')
        NAME = input ('customer name')
        Gender = input ('customer gender')
        ADDRESS = input ('customer address')
        PHONENUMBER = input ('customer phone number')
        DOB = input ('customer DOB')
        EMAIL= input ('customer email')
        
        sql = 'insert into customer (ID, NAME, Gender, ADDRESS, PHONENUMBER, DOB, EMAIL) values (%s, %s, %s, %s, %s, %s, %s)'
        val = [(int (ID), NAME,Gender, ADDRESS, PHONENUMBER, DOB, EMAIL)]
        mycursor.executemany(sql,val) #execute many bcos you don't know how many times it will run
        mydb.commit() #commit so that it can appear on mysql
        
    def display(self):
        mycursor.execute('select * from customer')
        for x in mycursor:
            print(x)
            
    def search(self):
        ID= input ('enter customer ID to search:')
        mycursor.execute('select * from customer where ID like "{}"'.format(ID))
        for x in mycursor:
            print(x)
    def update(self):
        ID = input ('enter ID to update:')
        column = input ('enter the column:')
        value = input('enter the new value:')
        mycursor.execute('update customer set {} = "{}" where ID = {}'. format(column, value, ID))
        mydb.commit()
        mycursor.execute('select * from customer')
        for x in mycursor:
            print(x)
    def delete(self):
        ID = input ('enter ID to delete:')
        mycursor.execute('update from customer where ID = {}'. format(ID))
        mydb.commit()
        mycursor.execute('select * from customer')
        for x in mycursor:
            print(x)

program = foodstore()
counter = 1
operation = input ('enter admin to login and quit to logout of the system:')
while operation == 'admin':
    option = input ('pick your operation [accept, display, search, update, delete]:')
    if option == 'accept':
        program.accept()
    elif option == 'display':
        program.display()
    elif option == 'search':
        program.search()
    elif option == 'update':
        program.update()
    elif option == 'delete':
        program.delete()
    operation = input ('do you want to perform another operation? enter admin to login and quit to logout of the system:')
    counter +=1

enter admin to login and quit to logout of the system:admin
pick your operation [accept, display, search, update, delete]:accept
customer ID1
customer namejoe fordman
customer gendermale
customer addressno 25 lukay street kubwa
customer phone number0987654367
customer DOB22/22/2233
customer emailjoeford101@gmail.com
do you want to perform another operation? enter admin to login and quit to logout of the system:admin
pick your operation [accept, display, search, update, delete]:display
(1, 'joe fordman', 'male', 'no 25 lukay street kubwa', '0987654367', '22/22/2233', 'joeford101@gmail.com')
do you want to perform another operation? enter admin to login and quit to logout of the system:1

In [9]:
mycursor.execute('create table orders (ID int not null primary key, ORDER_DATE text not null, ORDER_NUMBER int not null,\
TOTAL_COST float not null, PAYMENT_INFORMATION text not null)')
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('customer',)
('orders',)

In [10]:
class foodstore:
    def accept(self):
        ID = input ('customer ID')
        ORDER_DATE = input ('order date')
        ORDER_NUMBER = input ('order number')
        TOTAL_COST = input ('total cost')
        PAYMENT_INFORMATION = input ('payment information')
        
        sql = 'insert into customer (ID, ORDER_DATE, ORDER_NUMBER, TOTAL_COST, PAYMENT_INFORMATION,) values (%s, %s, %s, %s, %s)'
        val = [(int (ID), ORDER_DATE,ORDER_NUMBER, TOTAL_COST, PAYMENT_INFORMATION)]
        mycursor.executemany(sql,val) 
        mydb.commit() 
        
    def display(self):
        mycursor.execute('select * from customer')
        for x in mycursor:
            print(x)
            
    def search(self):
        ID= input ('enter customer ID to search:')
        mycursor.execute('select * from customer where ID like "{}"'.format(ID))
        for x in mycursor:
            print(x)
    def update(self):
        ID = input ('enter ID to update:')
        column = input ('enter the column:')
        value = input('enter the new value:')
        mycursor.execute('update customer set {} = "{}" where ID = {}'. format(column, value, ID))
        mydb.commit()
        mycursor.execute('select * from customer')
        for x in mycursor:
            print(x)
    def delete(self):
        ID = input ('enter ID to delete:')
        mycursor.execute('update from customer where ID = {}'. format(ID))
        mydb.commit()
        mycursor.execute('select * from customer')
        for x in mycursor:
            print(x)

program = foodstore()
counter = 1
operation = input ('enter admin to login and quit to logout of the system:')
while operation == 'admin':
    option = input ('pick your operation [accept, display, search, update, delete]:')
    if option == 'accept':
        program.accept()
    elif option == 'display':
        program.display()
    elif option == 'search':
        program.search()
    elif option == 'update':
        program.update()
    elif option == 'delete':
        program.delete()
    operation = input ('do you want to perform another operation? enter admin to login and quit to logout of the system:')
    counter +=1

enter admin to login and quit to logout of the system:admin
pick your operation [accept, display, search, update, delete]:accept
customer ID1
order date23/45/4555
order number1234
total cost1234.55
payment informationcash

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ') values (1, '23/45/4555', '1234', '1234.55', 'cash')' at line 1