# DATA TYPES CONVERSION

In [1]:
num1 = int(14.5)
print(num1)

14

In [2]:
#FLOAT VALUES CAN BE CONVERTED TO INTEGER

In [3]:
print(float(num1))

14.0

In [4]:
#INTEGER VALUES CAN BE CONVERTED TO FLOAT

In [5]:
print(str(num1))

14

In [6]:
# integer values can be converted to string

In [7]:
print(str(12.36))

12.36

In [8]:
#float values can be converted to string

In [12]:
word = '85'
print(int(word))

85

# DECLEAR THREE VARIABLES ONE TO HOLD AN INTEGER VALUE, THE SECOND TO HOLD A FLOAT VALUE AND THE LAST ONE TO HOLD A STING 
# PERFORM ALL THE DIFFERENT CONVERSION WE HAVE LOOK AT ON THOSE VARIABLES

In [16]:
age = input('Enter Your Age')

Enter Your Age45

In [17]:
print(age)

45

In [18]:
print(type(age))

<class 'str'>

In [23]:
age2 = int(input('Enter your age:'))
print(type(age2))

Enter your age:15
<class 'int'>

In [22]:
name = input('Enter your name:')

Enter your name:Adebisi

# OPERATORS

In [24]:
### ARITHEMETIC OPERATORS

In [27]:
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))
print(f'{num1} + {num2} = {num1 + num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} / {num2} = {num1 / num2}')
print(f'{num1} * {num2} = {num1 * num2}')
print(f'{num1} % {num2} = {num1 % num2}')
print(f'{num1} // {num2} = {num1 // num2}')
print(f'{num1} ** {num2} = {num1 ** num2}')

Enter first number:40
Enter second number:20
40 + 20 = 60
40 - 20 = 20
40 / 20 = 2.0
40 * 20 = 800
40 % 20 = 0
40 // 20 = 2
40 ** 20 = 109951162777600000000000000000000

In [28]:
# COMPARISM OPERATORS
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))
print(f'{num1} > {num2} = {num1 > num2}')
print(f'{num1} < {num2} = {num1 < num2}')
print(f'{num1} >= {num2} = {num1 >= num2}')
print(f'{num1} <= {num2} = {num1 <= num2}')
print(f'{num1} == {num2} = {num1 == num2}')
print(f'{num1} != {num2} = {num1 != num2}')

Enter first number:15
Enter second number:7
15 > 7 = True
15 < 7 = False
15 >= 7 = True
15 <= 7 = False
15 == 7 = False
15 != 7 = True

In [29]:
# LoGICAL OPERATORS
num1 = int(input('Enter first number:'))
num2 = int(input('Enter second number:'))
print(num1 > num2 and num2 != num1)
print(num1 > num2 or num1 == num2)
print(not num1)

Enter first number:15
Enter second number:15
False
True
False

In [33]:
# MEMBERSHIP OPERATORS
word = 'python'
print('p' in word)
print('ho'  not in word)

True
False

In [34]:
# IDENTITY OPERATORS
print(num1 is num2)
print(num1 is not num2)

True
False

# ADE BOUGHT N PEN FOR S PRICE  AND SOLD EACH PEN AT THE RATE OF P PRICE
# CALCULATE THE PROFIT OF ADE

In [35]:
nopen = int(input('Provide the numbers pen bought:'))
costprice = float(input('Provide the cost price:'))
totalcp = nopen * costprice
sellingprice = float(input('Provide the selling price:'))
totalsp = nopen * sellingprice
profit =totalsp -totalcp
print(f'The profit of Mr ade on {nopen} pen bought at the rate of {totalcp} and sold at the rate of {totalsp} is {profit}')

Provide the numbers pen bought:50
Provide the cost price:45
Provide the selling price:70
The profit of Mr ade on 50 bought at the rate of 2250.0 and sold at the rate of 3500.0 is 1250.0