In [4]:
import mysql.connector

In [5]:
database = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'praiseugochukwu',
)
db = database.cursor()

In [6]:
db.execute('create database phones')
db.execute('show databases')
for x in db:
    print(x)

DatabaseError: 1007 (HY000): Can't create database 'phones'; database exists

In [10]:
database = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'praiseugochukwu',
    database='phones'
)
db = database.cursor()

In [2]:
db.execute('create table phonestorage(ID int not null primary key, BRAND text not null, MODEL text not null,\
           COLOUR text not null, QUALITY text not null, RAM text not null, ROM text not null, CAMERA_QUALITY text not null)')
db.execute('show tables')
for x in db:
    print(x)

NameError: name 'db' is not defined

In [ ]:
class phonestore:
    def accept(self):
        ID = input ('ID')
        BRAND = input ('brand name')
        MODEL = input ('phone model')
        COLOUR = input ('phone colour')
        QUALITY = input ('phone quality')
        RAM = input ('RAM')
        ROM= input ('ROM')
        CAMERA_QUALITY = input ('camera quality')
        
        sql = 'insert into phonestorage (ID, BRAND, MODEL, COLOUR, QUALITY, RAM, ROM,CAMERA_QUALITY ) values (%s, %s, %s, %s, %s, %s, %s, %s)'
        val = [(int (ID), BRAND,MODEL, COLOUR, QUALITY, RAM, ROM,CAMERA_QUALITY)]
        db.executemany(sql,val) 
        database.commit() 
        
    def display(self):
        db.execute('select * from phonestorage')
        for x in db:
            print(x)
            
    def search(self):
        ID= input ('enter phone ID to search:')
        db.execute('select * from phonestorage where ID like "{}"'.format(ID))
        for x in db:
            print(x)
    def update(self):
        ID = input ('enter ID to update:')
        column = input ('enter the column:')
        value = input('enter the new value:')
        db.execute('update phonestorage set {} = "{}" where ID = {}'. format(column, value, ID))
        database.commit()
        db.execute('select * from phonestorage')
        for x in db:
            print(x)
    def delete(self):
        ID = input ('enter ID to delete:')
        database.execute('update from phonestorage where ID = {}'. format(ID))
        db.commit()
        db.execute('select * from phonestorage')
        for x in db:
            print(x)

program = phonestore()
counter = 1
operation = input ('enter admin to login and quit to logout of the system:')
while operation == 'admin':
    option = input ('pick your operation [accept, display, search, update, delete]:')
    if option == 'accept':
        program.accept()
    elif option == 'display':
        program.display()
    elif option == 'search':
        program.search()
    elif option == 'update':
        program.update()
    elif option == 'delete':
        program.delete()
    operation = input ('do you want to perform another operation? enter admin to login and quit to logout of the system:')
    counter +=1

enter admin to login and quit to logout of the system:admin
pick your operation [accept, display, search, update, delete]:accept
ID2
brand nameInfinix
phone model3oI
phone colourBlack
phone quality56
RAM8
ROM256
camera quality55
do you want to perform another operation? enter admin to login and quit to logout of the system:admin
pick your operation [accept, display, search, update, delete]:display
(1, 'SAMSUNG', 'A13', 'PEACH', 'NEW', '4GB', '64GB', '13AMP')
(2, 'Infinix', '3oI', 'Black', '56', '8', '256', '55')